$verdeMet:#42FF87;
$verdeMetO:#72C490;
$verde:#33C580;
$moradoC:#492396;
$morado:#3C1D7C;
$blanco:#fff;
$negro:#4D4D4D;
$gris:#7F7F83;
$gris2:#666B70;
$helveticaBlack:'helvitaBlack';
$helveticaBold:'helvitaBold';
$helveticaBoldC:'helvitaBoldC';
$bariol:'bariol';
$bariolB:'bariolB';

@font-face {
    font-family: 'helvitaBlack';
    src: url('../font/helveticaBlack.otf');
}
 
@font-face {
    font-family: 'helvitaBold';
    src: url('../font/helveticaBold.eot');
    src: url('../font/helveticaBold.otf');
}
@font-face {
    font-family: 'helvitaBoldC';
    src: url('../font/helveticaBoldCond.otf');
} 
@font-face {
  font-family: 'bariol';
  src: url('../font/bariol.ttf');
} 
@font-face {
  font-family: 'bariolB';
  src: url('../font/bariolB.otf');
} 

body{
    overflow-x: hidden;
}



.slider{
  .item{
    overflow: hidden;
  }
  .owl-dots{
    position: absolute;
    bottom: 20%;    
    left: 11%;
    button{
      width: 6px;
      height: 6px;
      margin: 20px;
      background-color: $blanco;
      border-radius: 50%;
      position: relative;
    }
    .owl-dot{      
      &.active{
        background-color: $verdeMet;
        &:before{
          content: "";
          position: absolute;
          width: 28px;
          height: 28px;
          background-color: rgba(255, 255, 255, 0.19);
          border-radius: 50%;
          top: 0;
          bottom: 0;
          left: -11px;                    
          margin: auto;
        }
      }
    }
  }
  &__content{
    height: 100vh;
    position: relative;
    background-size: cover;
    .single-slider{
      background-attachment: scroll;
      background-clip: border-box;      
      /*background-image:url('../images/slider/1.jpg');*/
      background-origin: padding-box;
      background-position: 50% 50% !important;
      background-repeat: repeat;
      background-size: cover !important;
      height: 100%;  
    }
    .zoom{
      animation: zoom 10s ease 0s normal both infinite;
      -webkit-animation: zoom 10s ease 0s normal both infinite;
      -moz-animation: zoom 10s ease 0s normal both infinite;
      -ms-animation: zoom 10s ease 0s normal both infinite;
      -o-animation: zoom 10s ease 0s normal both infinite;
    }

    @keyframes zoom {
      0%   {transform: scale(1.1);}
      50%  {transform: scale(1);}     
      100% {transform: scale(1.1);}
    }
    &__item{
      left: 0%;      
      width: 100%;
      background: linear-gradient(90deg, #000000a1 0%, rgba(0, 0, 0, 0) 100%);
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      .centrado{
        position: absolute;
        left: 0%;
        width: 100%;
        padding: 30px;
        .senda{
          width: 150px;
          margin-bottom: 20px;
        }
        .direccion{
          position: relative;
          margin-top: 40px;
          &__texto{
            margin-left: 54px;
            h4{
              color: $blanco;              
              font-size: 1.25rem;
              line-height: 1.375rem;
              font-family: $bariolB;
            }
            p{
              width: 100%;
            }
          }
          img{
            width: auto;
            position: absolute;
          }
        }
        p{
          color: $blanco;
          font-size: 1rem;
          font-family: $bariol;
          line-height: 1.375rem;
        }
      }
      &__titulo{
        font-size: 3rem;
        color: $blanco;
        text-transform: uppercase;
        font-family: $bariolB;
        span{
          color: $verdeMet;
        }
      }
    }  
  }
}



.scroll-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 1.2em;
    font-size: 22px;
    color: rgba(#fff, .5);
    border-radius: 2em;
    border: solid 2px;
    transition: .4s;
    &:hover{
      background-color: rgba(#fff, .05);
      color: #fff;
    }
  }
  
  .scroll-icon::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  @keyframes scroll-icon {
      0% { transform: translateY(-12px); opacity: 0; }
     30%, 70% { opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
  }
  
  
  
  section{
    padding: 80px 0;
  }
  
  .titulo{
    font-family: $bariolB;
    &--grande{
      font-size: 1.748rem;
      line-height:2.2rem;
      text-transform: uppercase;
    }
    &--chico{
      font-size:1.1rem;
      line-height: 1.5rem;
      display: block;
    }
  }
  .parrafo{
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-family: $bariol;
  }
  
  .cargar-mas{
    margin-bottom: 60px;
    display: none;
  }
  .buttom{
    padding: 24px 30px;
    min-width:  216px;
    transition: all 0.2s;
    text-transform: uppercase;
    font-family: $bariolB;
    display: inline-block;
    text-align: center;
    font-size: 0.875rem;
    line-height: 16px;
    text-decoration: none;    
    &--rellenoV{
      border-radius: 5px;
      color: $negro;
      border: 2px solid $verdeMet !important;
      background: -webkit-gradient(linear, left top, right top, color-stop(50%,verdeMet), color-stop(50%, darken($verdeMet,6)));
      background: linear-gradient(to right, darken($verdeMet,6) 50%,  $verdeMet 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      svg{
        fill:$negro;
        margin-right: 8px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      &:hover{
        background-color:transparent;
        text-decoration: none;
        color: $negro;
        background-position: left bottom;
        text-decoration: none;
        svg{
          fill:$negro;
          path{
            fill:$negro;
          }
        }
      }
    }
    &--rellenoVO{
      border-radius: 5px;
      color: $negro;
      border: 2px solid $verdeMetO !important;
      background: -webkit-gradient(linear, left top, right top, color-stop(50%,$verdeMetO), color-stop(50%, darken($verdeMetO,6)));
      background: linear-gradient(to right, darken($verdeMetO,6) 50%,  $verdeMetO 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      svg{
        fill:$moradoC;
        margin-right: 8px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      &:hover{
        background-color: transparent;
        text-decoration: none;
        border: 2px solid darken($verdeMetO,5) !important;
        color: $negro;
        background-position: left bottom;
        text-decoration: none;
        svg{
          fill:$verde;
          path{
            fill:$verde;
          }
        }
      }
    }
    &--borderV{
      border-radius: 60px;
      color: $moradoC;
      border: 2px solid $verde !important;
      background: -webkit-gradient(linear, left top, right top, color-stop(50%,transparent), color-stop(50%, $verde));
      background: linear-gradient(to right, transparent 50%,  $verde 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      svg{
        fill:$moradoC;
        margin-right: 8px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      &:hover{
        background-color: transparent;
        text-decoration: none;
        color: $verde;
        background-position: left bottom;
        text-decoration: none;
        svg{
          fill:$verde;
          path{
            fill:$verde;
          }
        }
      }
    }
    &--border{      
      color: $negro;
      border-radius: 5px;
      border: 1px solid $verdeMet !important;
      background: -webkit-gradient(linear, left top, right top, color-stop(50%,$moradoC), color-stop(50%, transparent));
      background: linear-gradient(to right, $verdeMet 50%,transparent 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      svg{
        margin-right: 8px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        path{
          stroke:$blanco;
        }
      }
      &:hover{
        background-color: transparent;
        text-decoration: none;
        color: $negro;
        background-position: left bottom;
        text-decoration: none;
        svg{
          path{
            stroke:$moradoC;
          }
        }
      }
    }
  }
  
  .header{
    background: $moradoC;
    position: fixed;
    width: 100%;
    z-index: 123;
    height: 90px;
    display: none;
    top:0;
    &__logo{
      margin-left: 5px;
      img{
        width: 120px;
      }
    }
    &__links{
      display: flex;
      height: 90px;
      align-items: center;
      ul{
        padding: 0;
        margin: 0;
        padding-right: 20px;
        list-style: none;
        li{
          display: inline-block;
          a{
            font-size: 12px;
            line-height: 12px;
            font-family: $helveticaBold;
            color: $blanco;
            text-transform: uppercase;
            padding: 0px 5px;
            text-decoration: none;
            &:hover{
              color: $verde;
            }
            &.active{
              color: $verde;
            }
          }
        }
      }
    }
    &__asesorate{
      height: 100%;
      padding: 0px 16px;
      font-size: 0.875rem;
      line-height: 16px;
      font-family: $helveticaBold;
      text-decoration: none;
      color: $moradoC;
      border: 2px solid $verde;
      background: -webkit-gradient(linear, left top, right top, color-stop(50%,$morado), color-stop(50%, $verde));
      background: linear-gradient(to right, $morado 50%,  $verde 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      svg{
        fill:$moradoC;
        margin-right: 8px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      &:hover{
        background-color: transparent;
        text-decoration: none;
        color: $verde;
        border: 2px solid $morado;
        background-position: left bottom;
        text-decoration: none;
        svg{
          fill:$verde;
          transform: rotate(360deg);
          path{
            fill:$verde;
          }
        }
      }
      i,svg{
        width: 30px;
      }
      span{
        display: none;
        margin-left: 0.875rem;
  
      }
    }
    &__isotipo{
      padding: 0 0.5rem 0 1.5rem;
    }
  }
  
  $timing        : 265ms;
  $iconColor     : #00B5F5;
  $accent        : #002A8F;
  $bluefade      : #0043E0;
  $gradient      : #00B5F5;
  
  @mixin transformScale($size: 1) {
      transform: scale($size);
      -ms-transform: scale($size);
      -webkit-transform: scale($size);
  }
  
  
  
  .iconAsesorate{
    display: none;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 38px;
    z-index: 12;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
    &:hover &__interno{
      transform: rotate(360deg);
      background: $moradoC;
      box-shadow: 4px 4px 0px $verde;
      span{
          color: $verde;
      }
      &__verde{
        background: $moradoC;
        box-shadow: inset 0px 0px 16px $morado;
        svg{
          path{
            fill:$verde;
          }
        }
      }
    }
    &__interno{
      height: 80px;
      width: 80px;
      border-radius: 50%;
      // transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition:all 0.5s ease-out;
      background: $verde;
      box-shadow: 4px 4px 0px $moradoC;
      display: flex;
      justify-content: center;
      mix-blend-mode: multiply;
      text-align: center;
      span{
        font-size: 14px;
        line-height: 16px;
        font-family: $helveticaBold;
        text-transform: uppercase;
        color: $moradoC;
        display: none;
      }
      &__verde{
        width: 70px;
        height: 70px;
        transition: all 2s;
        border-radius: 50%;
        margin-top: 5px;
        text-align: center;
        padding: 21px 10px;
        box-shadow: inset 0px 0px 16px #128A48;
        
        background: $verde;
        svg{
            transition: all 0.2s;
        }
      }
    }
  }
  
  .descripcion{    
    height: auto;
    padding: 0;
    width: 100%;       
    .container-fluid{
      padding-right: 15px;
      padding-left: 15px;
    }            
    &__fondo{
      background-image: url('../images/bg/bg-descripcion.jpg');
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &__content{
      padding:50px 30px;
      h2{
        color: $negro;
        position: relative;
        display: inline-block;
        margin-bottom: 31px;
        &:before{
          position: absolute;
          content: "";
          width: 40%;
          height: 1px;
          background-color: $verdeMet;
          bottom: -15px;
        }
      }
      p{
        color: $gris;
      }
    }
    &__botones{
      a{
        margin-right: 25px;
        margin-bottom: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &__mivivienda{
      position: relative;
      img{
        position: absolute;
      }
      &__texto{
        margin-left: 98px;
        padding-left: 30px;
        border-left: 1px solid $verdeMetO;
        margin-top: 30px;
        margin-bottom: 30px;
        h3{
          font-family: $bariolB;
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: $negro;
        }
        p{
          span{
            color: $verdeMet;
          }
        }
      }
    }
    &__porcentaje{
      margin-top: 40px;
      .item{
        text-align: center;
        &__content{
          width: 96px;
          margin: auto;
          height: 96px;
          border: 1px solid rgba(102, 107, 112, 0.18);
          border-radius: 50%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 18px;
          small{
            display: block;
            font-size: 0.875rem;
            line-height: 0.938rem;
            text-transform: uppercase;
            font-family: $bariolB;
            color: $gris2;
          }
          span{
            color: $verdeMet;
            font-size: 1.563rem;
            line-height: 2.1rem;
          }
        }
        h3{
          color: $negro;
          font-family: $bariolB;
          font-size: 1rem;
          line-height: 1.25rem;
        }
      }
    }
    &__banco{
      margin-top: 50px;
      span{
        font-size: 0.9rem;
        line-height: 1.75rem;
        font-family: $bariolB;
        color: $negro;
      }
    }
  }
  .caracteristicas{
    height: auto;        
    color: $blanco;
    padding: 0;
    .container-fluid{
      padding-right: 15px;
      padding-left: 15px;
    }
    .fade {
        transition: opacity .24s linear !important;
    }
    &__content{
      background-color: $gris2;
      padding: 91px 72px;
      height: auto;
      span{
        font-size: 20px;
        line-height: 28px;
        font-family: $bariolB;
      }
      h2{
        color: $blanco;
      }
    }      
    &__tab{
      width: 100%;
      height: 100%;
      &__nav{
        float: left;
        width: 100%;
        background-color: $negro;
        height: auto;
        padding:40px 16px 40px 0px;       
        display: flex;
        justify-content: center;
        align-items: center; 
        .nav-pills{
          flex-wrap: nowrap;
          display: flex;
          width: 100%;
          overflow: auto;
          .nav-link{            
            width: 45%;
            float: left;
            padding: 19px 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $blanco;
            background-color: #494949;
            border-radius: 5px;
            margin-left: 16px;
            margin-bottom: 16px;            
            height: 119px;
            &.active{
              background-color: $verdeMet;
              color: $negro;
              svg{
                path{
                  fill:$negro;
                }
              }
            }
            svg{
              path{
                fill:$blanco;
              }
            }
            span{              
              display: block;
              font-family: $bariolB;
              font-size: 0.875rem;
              line-height: 0.938rem;
              margin-top: 20px;
              text-transform: uppercase;
            }
          }
        }
      }
      &__content{
        float: left;
        width: 100%;
        background-color: $negro;
        .interno{
          position: relative;
          .tab-pane{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 20px;            
            height: 65vh;
            position: relative;
          }
          &__content{
            min-width: 0px;     
            position: absolute;       
            background-color: rgba(66, 255, 135, 0.52);
            padding: 30px 20px 25px;     
            bottom: 0;
            left: 0;
            width: 100%;
            h2{
              font-size: 2.188rem;
              line-height: 2.813rem;
              color: $blanco;
              font-family: $bariolB;              
              text-align: center;
              margin-bottom: 10px;
              text-transform: uppercase;
            }
            .item{
              float: left;
              width: 33.33%;
              text-align: center;
              padding: 5px 22px;
              height: 112px;
              display: flex;
              justify-content: center;
              align-items: center;
              h3{
                font-size: 1.125rem;
                line-height: 1.25rem;
              }
            }
          }
        }
      }
    }
    &__botones{
      .buttom--border{
        color: $blanco;
      }
      a{
        margin-bottom: 10px;         
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .contruyendo{
    padding-top:60px;
    padding-bottom: 30px;
    .owl-grid{
      margin-top: 80px;
    }
    h2{
      color: $negro;
      font-family: $bariolB;      
      margin-bottom: 35px;
    }
    .seleccionado{
      position: relative;
      margin-bottom: 40px;
      &__texto{        
        font-size: 15px;
        line-height: 28px;
        display: block;
        font-family: $bariol;
        top: -20px;
        position: absolute;
        color: #BAB7A1;        
        font-size: 14px;
      }
      .dropdown{
        &-menu{
          width: 100%;
          z-index: 123 !important;
          border-radius: 0;
          padding: 0;
        }
        &-toggle{
          background:transparent;
          width: 100%;          
          border: 1px solid transparent;
          border-bottom: 1px solid $verdeMetO;
          padding: 20px;
          font-size: 14px;
          line-height: 16px;
          text-align: left;
          color: $gris2;
          font-family: $bariolB;
          text-transform: uppercase;
          position: relative;
          &:focus{
            background: #F8F8F6;            
            outline: none;
          }
          &:after{
            content: "";
            position: absolute;
            width: 13px;
            height: 10px;
            background-image: url('../images/iconos/flecha.png');
            top: 0;
            margin: auto;
            right: 10px;
            bottom: 0;
            border:1px solid transparent;
          }
          /*&:after{
            position: absolute;
            top: 0;
            margin: auto;
            width: 12px;
            height: 7px;
            bottom: 0;
            right: 16px;
          }*/
        }
        &-item{
          padding: 11px 1.5rem;
          font-size: 14px;
          font-family: $helveticaBold;
          text-transform: uppercase;
          &:hover{
            background: $verde;
            color: $blanco;
          }
        }
      }
      img{
        position: absolute;
        right: 0;
        z-index: 1;
      }
      .circulo{
        background: $moradoC;
        border-radius: 50%;
        width: 181px;
        height: 181px;
        &__progresivo{
          width: 100px;
          border-radius: 50%;
          height: 4px;
          background: $verde;
  
        }
      }
    }
  }
  
  .owl-grid{
    .owl-nav{
      width: 100%;
      text-align: center;
      margin-top:20px;
      display: block !important;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 50px;
      margin: auto;
      button{
        border-radius: 50%;
        background: $verde !important;
        color: $morado !important;
        width: 50px;
        margin: 0px 12px;
        height: 50px;
        position: absolute;
        &:before{
          content: "";
          position: absolute;
          width: 14px; 
          height: 10px;
          background-image: url("../images/iconos/flecha.png");
          background-position: center;
          background-size: cover;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        } 
        span{
          opacity: 0;
        }
      }
      .owl-prev{
        transform: rotate(90deg);
        left: 0;
      }
      .owl-next{
        transform: rotate(270deg);
        right: 0;
      }
    }
    .owl-dots{
      display: none;
    }
  }
  
  .galeria{
    padding: 50px 0px 0px;
    h2{
      color: $negro;
      margin-bottom: 20px;
    }
    .filter a.current {      
      color: $verdeMet;
      &:before{
        content: "";
        position: absolute;
        width: 7px;
        background: transparent;
        height: 100%;
        margin: auto;
        left: -7px;
        top: 0;
        bottom: 0;
      }
      
    }
    .listado{      
      margin: auto;
      margin-bottom: 30px;
      border-radius: 0px;
      text-align: center;
      display: none;
      a{
        font-family: $bariolB;
        color: $gris2;        
        opacity: 0.7;
        padding: 20px;
        display:inline-block;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 16px;
        border-radius: 50px;
        min-width: 162px;
        text-align: center;
        position: relative;        
        text-decoration: none;
        margin-bottom: 10px;                
      }
    }
  
  }
  .modelo{
    padding: 40px 0px 70px;
    background-color: #F8F8F6;    
    .owl-modelo{
      .owl-nav{
        width: 100%;
        text-align: center;
        margin-top:20px;
        button{
          border-radius: 50%;
          background: $verde !important;
          color: $morado !important;
          width: 50px;
          margin: 0px 12px;
          height: 50px;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            width: 14px;
            height: 10px;
            background-image: url("../images/iconos/flecha.png");
            background-position: center;
            background-size: cover;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
          }
          span{
            opacity: 0;
          }
        }
        .owl-prev{
          transform: rotate(90deg);
        }
        .owl-next{
          transform: rotate(270deg);
        }
      }
      .owl-dots{
        display: none;
      }
    }
    h2{
      color: $negro;
      margin-bottom: 30px;
    }
    &__card{            
      transition: all 0.5s;
      &:hover &__imagen{
        background-color: $verdeMetO;
      }
      &:hover &__content{
        background-color: $verdeMet;
        h3,p{
          color: $blanco;
          font-family: $bariol;
        }
        span{
          color: $blanco;
        }
        .buttom--rellenoV{
          background: linear-gradient(to right,$blanco 50%,transparent 50%);
          background-size: 200% 100%;
        }
      }
      &__imagen{
        background: rgba(186, 183, 161, 0.296);        
        border-radius: 5px 5px 0px 0px;
        height: 318px;
        padding: 40px 20px;         
        transition: all 0.5s;
      }     
      &__content{                                   
        padding:42px 24px;
        text-align: center;
        position: relative;
        background-color: $blanco;
        transition: all 0.5s;
        img{
          position: absolute;
          top: -48px;
          left: 0;
          right: 0;
          margin: auto;
          width: auto !important;
        }
        h3{
          font-size: 35px;
          line-height: 45px;
          font-family: $bariolB;
          color: $negro;
          transition: all 0.4s;
          text-transform: uppercase;
        }
        span{
          transition: all 0.4s;
          color: #BAB7A1;
          font-family: $bariolB;
          font-size: 18px;
          line-height: 20px;
        }
        p{
          font-size: 20px;
          line-height: 28px;
          font-family: $bariolB;
          color: $gris2;
        }
        a{
          display: block !important;
        }
      }                
    }
  }
  .mapa{        
    padding:0px;    
    .container-fluid{
      padding-right: 15px;
      padding-left: 15px;
    }  
    .imagen{      
      width: 100%;
      background-position: top;
      height: 400px;
      background-size: 774px;
    }   
    &__content{
      background-color: $gris2;   
      padding: 50px 40px;         
      .tituloMapa{
        font-size: 2rem;
        line-height: 2.8rem;
        color: $blanco;
        font-family: $bariolB;
      }
      .direccion{
        position: relative;
        margin-top: 40px;
        &__texto{
          margin-left: 54px;
          h4{
            color: $blanco;              
            font-size: 1.25rem;
            line-height: 1.375rem;
            font-family: $bariolB;
          }         
        }
        img{
          width: auto;
          position: absolute;
        }
      }
      .icono{
        position: relative;
        margin-top: 10px;
        img{
          position: absolute;
          width: 18px;
        }
        p{
          margin-left: 42px;
          font-size: 1rem;
          line-height: 1.75rem;
          color: $blanco;
          font-family: $helveticaBold;
        }
      }      
      p{
        color: $blanco;
      }
    }
  
  }
  .video{
    background-image: url('../images/bg/bg-video.jpg');
    height: 56vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    .play{
      position: absolute;
      width: 100%;
      height: 100%;
      .icono{
        position: absolute;
        // width: 250px;
        // height: 250px;
        width: 110px;
        height: 110px;
        background: rgba(51, 197, 128, 0.54);
        margin: auto;
        border-radius: 50%;
        animation: shadow-pulse 1s infinite;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 2s;
        img{
          transition: all .3s;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0;
          &:hover{
            transform:rotate(360deg);
          }
        }
      }
    }
  }
  @keyframes shadow-pulse{
    0%{
      width: 110px;
      height: 110px;
    }
    50%{
      width: 150px;
      height: 150px;
    }
    100%{
      width: 110px;
      height: 110px;
      background: transparent;
    }
  }
  
  .footer{
    &__top{
      background: $moradoC;
      &__uno{
        padding: 30px 0px;
        height: auto;
      }
      &__dos{
        &__card{
          position: relative;
          height: 180px;
          padding: 30px 40px;
          text-align: center;
          border-right:1px solid rgba(255, 255, 255, 0.11);
          span{
            line-height: 1.75rem;
            font-size: 0.938rem;
            color: $verdeMet;
            font-family: $helveticaBold;
            display: block;
            margin-top: 12px;
          }
          h3{
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: $blanco;
            font-family: $helveticaBold;
          }
          a{            
            background: $verdeMet;
            width: 45px;           
            height: 45px;
            display: inline-block;
            border-radius: 50%;
            padding: 10px 10px 11px 13px;
            transition: all .3s;
            &:hover{
              transform: rotate(360deg) scale(1.1);
              background: $morado;
              i,svg{
                color: $verdeMet;
              }
            }
            i,svg{
              color: $moradoC;
              font-size: 23px;
              text-align: center;
              margin: auto;
            }
          }
        }
        &__img{
          padding: 20px 0px;
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 140px;
            &.senda{
              width: auto;
            }
          }
          span{
            color: $verdeMet;
            font-size: 0.75rem;
            line-height: 0.875rem;
            display: block;
            margin-bottom: 12px;
            font-family: $helveticaBold;
          }
        }
      }
      hr{
        background: rgba(255, 255, 255, 0.11);
        margin: 0;
      }
      &__redes{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 30px 0px;
      }
      &__links{
        text-align: center;
        a{
          font-size: 14px;
          line-height: 16px;
          color: $blanco;
          display: block;
          text-transform: uppercase;
          font-family: $helveticaBold;
          padding:16px 25px;
          text-decoration: none;
          &:hover{
            color: $verde;
  
          }
        }
      }
      &__botom{
        text-align: center;
        margin-bottom: 24px;
        width: 100%;
        a{
          padding: 20px;
        }
      }
    }
    &__bottom{
      height: auto;
      padding: 30px 0px;
      background: $morado;
      color: $blanco;
      text-align: center;
      h6{
        font-size: 0.75rem;
        line-height: 0.875rem;
        font-family: $helveticaBold;
        margin-bottom: 20px;
      }
      .agencia{
        display: flex;
        justify-content: flex-end;
        p{
          font-size: 12px;
          line-height: 17px;
          font-family: $helveticaBold;
          color: $blanco;
          margin: auto;
          width: 67%;
          a{
            color: $blanco;
          }
        }
      }
    }
  }
  
 
.social-icons {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    margin:0px 0.43rem;
    position: relative;
    font-size: 1.1em;
    i ,svg{
      color: $moradoC;
      position: relative;
      // margin: auto;
      // bottom: 6px;
      // left: 0;
      // top:0;
      // right: 0;
      transition: all $timing ease-out;
    }
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 7px;
      &:before {
        @include transformScale();
        content: " ";
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background:$verdeMet;
        transition: all $timing ease-out;
      }
      &:hover:before {
        transform: scale(0);
        transition: all $timing ease-in;
      }

      &:hover i,
      &:hover svg {
        @include transformScale(1.5);
        color:$verdeMet;
        background:$verdeMet;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all $timing ease-in;
      }
    }
  }
}

  .p-right{
    padding-right:15px;
  }
  @media (min-width: 576px) {
    
    .mapa{
      &__content{
        padding:50px 57px;
        .tituloMapa{
          font-size: 2.50rem;
          line-height: 3.1rem;
        }
      }
    }
    
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    
    .slider{
      &__content{
        &__item{
          .centrado{
            left: 10%;
            width: 57%;
            padding: 0;           
            .direccion{
              &__texto{
                p{
                  width: 65%;
                }
              }
            }            
          }
          &__titulo{
            font-size: 4rem;
          }
        }
      }
    }
    .mapa{
      &__content{
        padding:88px 60px;
        .tituloMapa{
          font-size: 3rem;
          line-height: 3.4rem;
        }
      }
    }    
    .modelo{
      &__card{
        &__content{
          margin-bottom: 20px;
        }
      }
    }
    .galeria{     
      .listado{       
        border-radius: 50px;
        width: 714px;
        text-align: center;
        a{
          min-width: 175px;
          border-radius: 0px;
          font-size: 14px;
          margin-bottom: 0;          
        }
      }
    }  
    .descripcion{
      &__content{        
        padding: 70px 50px;
      }
    }
    .caracteristicas{
      &__content{
        height: auto;
      }
      &__tab{
        &__nav{
          width: 30%;
          height: 90vh;
          .nav-pills{
            display: inline;
            .nav-link{
              padding: 27px 14px;        
              height: 126px;  
              width: 42%;    
            }
          }
        }
        &__content{
          width: 70%;
          .interno{
            .tab-pane{
              padding: 90px 70px;
              height: 90vh;
            }
            &__content{
              top: 35px;
              left: 28px;
              bottom: auto;
              width: auto;
              min-width: 300px;   
            }
          }
        }
      }
    }
    .parrafo{
          font-size: 0.9rem;
    }
    .titulo{
      &--grande{
        font-size: 1.788rem;
        line-height: 2.513rem;
      }
    }
    .footer{
      &__top{
        &__dos{
          &__card{
            height: 196px;
            padding: 29px 11px;
            span{
              line-height: 0.9rem;
              font-size: 0.8rem;
            }
            h3{
              font-size: 1rem;
              line-height: 1.3rem;
            }
          }
          &__img{
            height: 135px;            
          }
        }
      }
    }
  
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    
    .cargar-mas{
      display: block;
    }
    .social-icons{
      li{
        a{
          margin-bottom: 7px;
        }
      }
    }   
    .iconAsesorate{
      display: flex;
      &__interno{
        height: 134px;
        width: 134px;
        span{
          display: block;
        }
        &__verde{
          width: 124px;
          height: 124px;
          padding: 35px 10px;
        }
      }
    }
    .video{
      height: 90vh;
    }
    .modelo{
      &__item{
        &__content{
          height: 224px;
          width: 224px;
        }
  
      }
    }
    .parrafo{
      font-size: 1.125rem;
      line-height: 1.875rem;     
    }
    
    
    .header{
      display: block;
    }
    .mapa{      
      .imagen{        
        height: 100%;
        background-size: cover;
      }
    }
    .galeria{
      .listado{
        display: block;
      }
      .owl-grid{
        display: none;
      }
      .grid{
        display: block;
      }
    }
    .contruyendo{
      .owl-grid{
        display: none;
      }
      .grid{
        display: block;
      }
    }    
    .footer{
      &__top{
        &__dos{
          &__img{
            height: 97px;          
            img{
              width: 106px;
            }  
          }
        }
      }
      &__bottom{
        text-align: inherit;
        padding: 22px 0px;
        h6{
          margin-bottom: 0;
        }
        .agencia{
          p{
            margin-bottom: 0;
            width: 100%;
            text-align: right;
          }
        }
      }
    }
   }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

    .social-icons{
      li{
        a{
          margin-bottom: 0px;
        }
      }
    }
    .modelo{
      &__item{
        &__content{
          height: 305px;
          width: 305px;
        }
        h3{
          font-size: 2.188rem;
        }
      }
    }
    section{
      padding: 70px 0;
    }
    .p-right{
      padding-right: 60px;
    }
    .descripcion{
      .container-fluid{
        padding: 0;
      }
      &__content{        
        padding: 100px 85px 100px 58px;
      }
    }
    .container {
      max-width: 1270px;
    }
    .caracteristicas{
      .container-fluid{
        padding: 0;
      }
      &__content{
        height: auto;
      }
      &__tab{
        &__nav{
          width: 34%;
          height: auto;
          padding: 52px 16px 40px 0px;
          .nav-pills{
            display: inline;
            .nav-link{
              padding: 35px 14px;        
              height: 149px;      
            }
          }
        }
        &__content{
          width: 66%;
          .interno{
            .tab-pane{
              padding: 90px 70px;
              height: 752px;
            }
            &__content{
                top:80px;
                bottom: auto;
            }
          }
        }
      }
    }  
    .mapa{
      // height: 90vh;
      .container-fluid{
        padding: 0;
      }
      padding: 0;
    }
    .footer{
      &__top{
        &__uno{
          height: 120px;
        }
        &__dos{
          &__card{
            height: 262px;
            a{
              right: 16px;
            }
          }
          &__img{
            height: 262px;
            img{
              width: auto;
            }
          }
        }
        &__links{
          a{
            display: inline-block;
            font-size: 12px;
            padding: 15px 5px;
          }
        }
        &__redes{
          justify-content: flex-end;
          padding: 0;
        }
        &__botom{
          text-align: left;
          margin-bottom:0;
        }
      }
      &__botom{
        height: 60px;
        text-align: inherit;
        padding: 0;
      }
    }
    .header{
      &__isotipo{
        padding: 0 1.375rem 0 2.25rem;
      }
      &__asesorate{
        padding: 0px 30px;
        span{
          display: inline-block;
        }
      }
    }
  }
  @media(min-width:1350px){
    .slider{
      &__content{
        &__item{
          .centrado{            
            width: 38%;                                    
          }          
        }
      }
    }
    .header{
      &__logo{
        margin-left: 34px;
        img{
          width: 120px;
        }
      }
      &__links{
        ul{
          li{
            a{
              font-size: 13px;
              line-height: 16px;
              padding:0px 12px;
            }
          }
        }
      }
    }
    .modelo{
      &__card{
        &__content{
          margin-bottom:0px;
        }
      }
    }
    
  }
  @media(min-width:1600px){   
    .caracteristicas{
      &__content{
        height: 90vh;
      }
      &__tab{
        &__nav{
          width: 24%;     
          height: 90vh;     
          .nav-pills{            
            .nav-link{
              padding: 35px 14px;        
              height: 149px;    
              width: 45%;  
            }
          }
        }
        &__content{
          width: 76%;
          .interno{
            .tab-pane{
              padding: 90px 70px; 
              height: 90vh;             
            }
            &__content{
                top:80px;   
                left:80px;             
            }
          }
        }
      }
    }
    .titulo{
      &--grande{
        font-size: 2.188rem;
        line-height: 2.813rem;
      }
      &--chico{
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }

    .slider{
      &__content{
        &__item{
          .centrado{
            left: 11%;
            width: 36%;            
            .senda{
              width: auto;
            }
            .direccion{
              &__texto{
                p{
                  width: 45%;
                }
              }
            }
            p{
              font-size: 1.25rem;
            }
          }
          &__titulo{
            font-size: 5.625rem;
          }
        }
      }
    }

    .mapa{
      &__content{
        padding:160px 118px;
        .tituloMapa{
          font-size: 3.438rem;
          line-height: 4.375rem;
        }
      }
    }
        
    section{
      padding: 148px 0;
    }
    .modelo{
      &__card{
        &__imagen{
          height: 410px;
        }
      }
    }
    .header{
      &__logo{
        margin-left: 55px;
        img{
          width: auto;
        }
      }
      &__links{
        ul{
          li{
            a{
              font-size: 14px;
              padding: 0px 15px;
            }
          }
        }
      }
      &__asesorate{
  
      }
    }
    .container{
        // max-width: 1760px;
        max-width: 1785px;
    }
    .footer{
      &__top{
        &__dos{
          &__card{
            a{
              right: 16px;
            }
          }
        }
        &__links{
          a{
            padding: 16px 25px;
            font-size: 14px;
          }
        }
      }
    }
    .descripcion{
      &__content{
        padding:100px 145px 100px 58px;
      }
      &__porcentaje{
        .tem{
          h3{
            font-size: 1.125rem;
          }
        }
      }
    }
  }
  @media(min-width:1700px){
    
  }
  
