::selection {
  background: $moradoC;
  color: $verde;
}

::-webkit-scrollbar {
    width: 9px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
::-webkit-scrollbar-thumb {
    background: $moradoC;
    border-radius: 6px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: $verde;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: $moradoC;
}
.fixed{
  position: fixed;
}

.barra-hamburger{
  position: fixed;
  background: $moradoC;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  z-index: 123;
  img{
    width: auto;
  }
  .iconA{
    height: 100%;
    background: $verde;
    position: absolute;
    right: 90px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}



.home__slider{
  .carousel-indicators{
    right: auto;
    // bottom: 10%;
    top: 20%;
    display: none;
    margin-left:3%;
    li{
      text-indent: inherit;
      position: relative;
      width: 35px !important;
      height: 35px !important;
      border-radius: 50%;
      opacity:1 !important;
      background-color: transparent;
      border:2px solid transparent;
      margin-left: 11px !important;
      margin-right: 11px !important;
      margin-top: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active{
        border:2px solid $verde !important;
        span{
          color: $verde;
        }
      }
      span{
        color:#6F43C8;
        font-family: $helveticaBold;
        display: block;
      }
    }
  }
  .carousel-control-prev{
    right: 0 !important;
    left: auto;
    top: -129px;
    transform: rotate(-180deg);
  }
  .carousel-control-prev, .carousel-control-next{
    height: 50px;
    bottom: 0;
    margin: auto;
    display: none;
  }

  .carousel-caption{
    position: absolute;
    bottom: 0;
    top: 0;
    height: 50%;
    right: auto;
    width: 74%;
    margin: auto;
    left: 20%;
    text-align: left;
  }
}
.carousel{
  margin-top: 89px;
    &-texto{
      padding: 20px 28px;
      height: 50%;
      width: 100%;
      top: auto;
      position: absolute;
      left: 0;
      bottom: 11%;
      .logo{
        width: 125px;
      }
      h2{
        font-size: 2rem;
        line-height: 2.563rem;
        text-transform: uppercase;
        font-family: $helveticaBold;
        color: $blanco;
        margin-top: 16px;
        margin-bottom: 16px;
        span{
          color: $verde;
        }
      }
      p{
        font-size: 0.9rem;
        line-height: 1.3rem;
        color: $blanco;
        font-family: $helveticaBold;
      }
      .p-2{
        width: 302px;
      }
      .direccion{
        position: relative;
        width: 281px;
        img{
          position: absolute;
          top: 4px;
          width: 23px;
        }
        p{
          margin-left: 45px;
        }
      }
    }
    &-img{
      height: 50%;
      width: 82%;
      top: 0;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      &--centrado{
        img{
          margin-top: 18px;
          width: 234px !important;
        }
      }
      img{
        width: 257px;
      }
    }
    &-item{
      .img{
        height: 86vh;
        background-size: cover;
        background-position: center;
      }
      .fondoTexto{
        position: absolute;
        left: 0;
        top:0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
          font-size:8.625rem;
          font-family: $helveticaBlack;
          color: $verde;
          opacity: 0.1;
          line-height: 7.188rem;
        }
      }
    }
}
.asesorateM{
  position: fixed;
  background:$blanco;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  visibility: hidden;
  transition: visibility .85s, height .65s;
  overflow: hidden;
  z-index: 1234;
  &.openA {  
    visibility: visible;
    height: 100%;
  }
 
  &__bg{
    background-image: url('../images/bg/bg-asesorate.jpg');
    height: 32vh;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    display: none;
    background-position: center;    
    img{
      position: absolute;
      right: -60px;
      top:110px;
    }
  }
  .cerrar{
    position: absolute;
    top:0;
    right: 0;
    padding-right: 10px;
    border:1px solid #dfdfdf;
    z-index: 12;
  }
  &__formulario{
    position: relative;
    padding: 30px 0px;
    max-height: 100vh;
    overflow: auto;        
    form{
      width: 78%;
      margin: auto;
      h2{
        position: relative;
        margin-bottom: 20px;
        display: inline-block;
        &:before{
          content: "";
          position: absolute;
          width: 30%;
          background-color: $verdeMetO;
          height: 1px;
          left: 0;
          right: 0;
          margin: auto;
          bottom: -7px;
        }
      }
      .seleccionar{
        position: relative;
        &:before{
          content: "";
          background: transparent;
          width: 55px;
          height: 55px;
          position: absolute;
          right: 0;          
        }
        &:after{
          content: "";
          position: absolute;
          width: 12px;
          height: 8px;
          background-image: url('../images/iconos/flecha.png');
          top: 0;
          margin: auto;
          right: 20px;
          bottom: 0;
        }
        &__top{
          width: 100%;
          cursor: pointer;
          border-bottom:1px solid $verdeMetO;          
          height: 55px;
          position: relative;
          padding: 10px 10px;
          &:focus,
          &:active{
            background-color: #F8F8F6;
          }
          .icono{
            position: absolute;
            width: 43px;
            height: 43px;
            overflow: hidden;
            border-radius: 50%;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          span{
            display: block;
            color: $gris2;
            font-family: $bariolB;
            margin-left: 57px;
            font-size: 0.875rem;
            line-height: 1rem;
            text-transform: uppercase;
          }
        }
        &__bottom{
          height: 0;
          visibility: hidden;
          overflow: auto;
          max-height: 206px;
          position: absolute;
          background: $blanco;
          width: 100%;
          border:1px solid $verdeMetO;
          border-top: 1px solid transparent;
          z-index: 1;
          &.open {
            // opacity: .9;
            visibility: visible;
            height: 206px;

          }
          &::-webkit-scrollbar {
              width: 2px;     /* Tamaño del scroll en vertical */
              height: 8px;    /* Tamaño del scroll en horizontal */
          }
          &::-webkit-scrollbar-thumb {
              background: $verdeMet;
              border-radius: 6px;
          }
          /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
          &::-webkit-scrollbar-thumb:hover {
              background: $verde;
              box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          }

          /* Cambiamos el fondo cuando esté en active */
          &::-webkit-scrollbar-thumb:active {
              background-color: $moradoC;
          }
          &__card{
            width: 50%;
            float: left;
            border:1px solid #F2F2F3;
            text-align: center;
            padding: 20px;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            text-decoration: none;
            &:hover{
              background: $verdeMet;              
            }
            .icono{
              width: 101px;
              height: 100px;
              border-radius: 50%;
              overflow: hidden;
              margin: auto;
              background: $blanco;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            h3{
              color: $gris2;
              font-family:$bariolB;
              text-transform: uppercase;
              margin-top: 15px;
              font-size: 0.875rem;
              line-height: 1rem;
              margin-bottom: 0;
            }
          }
        }
      }
      .form-group{
        .alto{
          color: #BAB7A1;
          font-family: $bariol;
          font-size: 14px;
        }
        margin-bottom:1.2rem;
        .label{
          font-size: 14px;
          position: absolute;
          color: $gris2;
          text-transform: uppercase;
          font-weight: 700;
          transform: translateY(-27px);
          transition: all 0.5s;
          pointer-events: none;
          font-family: $bariolB;
        }        
        .input {
          display: block;
          width: 100%;
          outline: 0;
          border: 0;
          font-size: 14px;
          padding: 12px 0px 6px 0;
          color: $gris2;
          text-transform: uppercase;
          font-family: $bariolB;
          transition: all 0.5s;
          &::placeholder{
            display: none;
            opacity: 1;
            visibility: hidden;
          }
        }       
        
        .input:not(:placeholder-shown) ~ .label,
        .input:focus ~ .label {
          font-size: 10px;
          transform: translateY(-43px);
          background: -webkit-linear-gradient(#BAB7A1, #BAB7A1);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
                       
        .divider {
          display: block;
          position: relative;
          width: 100%;
          height: 1px;
          background: rgba(77, 77, 77, 0.18);
          &:before,
          &:after{
            content: "";
            height: 1px;
            width: 0;
            position: absolute;
            transition: all 0.5s;
            background:  -webkit-linear-gradient($verdeMetO, $verdeMetO);
          }
          &:before{
            left: 50%;
          }
          &:after{
            right: 50%;
          }
        }        
              
        .input:not(:placeholder-shown) ~ .divider:before,
        .input:not(:placeholder-shown) ~ .divider:after,
        .input:focus ~ .divider:before,
        .input:focus ~ .divider:after {
          width: 50%;
        }        
      }
      .check{
        display: inline-block;
        margin-bottom:10px;
        &:last-child{
          padding-right: 0;
        }
        .botton{
          margin-top: 0;
        }
        input[type=checkbox].css-checkbox{
          display: none;
        }
        input[type=checkbox].css-checkbox + label.css-label {
          height: 19px;
          display: inline-block;
          line-height: 1.25rem;
          font-size: 0.738rem;
          font-family: $bariol;
          color: $negro;
          padding-left: 27px;
          vertical-align: middle;
          margin-bottom: 10px;
          cursor: pointer;
          -webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out;
          -o-transition: background 300ms ease-in-out, color 300ms ease-in-out;
          transition: background 300ms ease-in-out, color 300ms ease-in-out;
        }
        input[type=checkbox].css-checkbox + label.css-label {
         background-image: url("../images/iconos/desactivo-checked.png");
         background-repeat: no-repeat;
         background-position: 0 0;
         /* &:hover {
            background-image: url("../img/iconos/checked-activo.png");
            background-repeat: no-repeat;
          }*/
       }
       input[type=checkbox].css-checkbox:checked + label.css-label {          
          background-image: url("../images/iconos/activo-checked.png");
          background-repeat: no-repeat;
          // color: #000; 
       }
       label.css-label {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
    }
  }
}
.slider1{
  padding: 0;
}
.porcentaje{
  position: relative;
  height: 90px;  
  span{
    font-size: 14px;
    line-height: 28px;
    display: block;
    font-family: $bariol;
    bottom: -28px;
    position: absolute;
    color: $gris2;                
    right: 0;
    margin: auto;
    left: 0;
    width: 75%;
    text-align: center;
  }
  .numero{
    width: 50px;
    height: 37px;  
    position: absolute;
    right: -19px;
    top: -50px;
    color: $gris2;
    font-family: $bariolB;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding: 7px 0px;
    background-color: $verdeMet;
    &:before{
      content: "";
      position: absolute;
      border-width:5px;
      border-color: $verdeMet;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      bottom: -10px;
      left: 0;
      border-style: solid;
      right: 0;
      margin: auto;
      width: 10px;
    }
  }
  .carga{
    width: 70%;
    height:5px;
    border-radius: 5px;
    background: #BAB7A1;      
    position: absolute;    
    bottom: 0;    
    &:before{
      content: "";
      width: 10px;
      height: 10px;
      background-color: $verdeMet;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      top:-3px;
    }
  }
  .raya{
    width: 100%;
    bottom: 0;
    height:5px;
    border-radius: 5px;
    background: rgba(186, 183, 161, 0.18);      
    position: absolute;        
  }
}

.gracias{  
  height: 100vh;
  width: 100%; 
  position: relative;
  &__bg{
    background-image: url(../images/bg/bg-gracias.jpg);    
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%; 
    display: none;
  }
  &__content{
    text-align: center;
    img{
      margin-bottom: 20px;
    }
    h1{
      color: $negro;
      font-size: 35px;
      line-height: 45px;
      font-family: $bariolB;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 20px;
      &:before{
        content: "";
        width: 10%;
        height: 1px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -11px;        
        background-color: $verdeMetO;
      }
      span{
        color: $verdeMet;
      }
    }
    p{
      color: $negro;
      font-family: $bariol;
    }
  }
}


.fancybox{
  &-bg{
    background:rgba(77, 77, 77, 0.88)!important;
    opacity: 1 !important;
  }
  &-button{
    svg{
      path{
        fill:$verde !important;
      }
    }
  }
}



.modal{
  background:rgba(77, 77, 77, 0.88);
  &__descrip{
    &__tabs{
      margin-left:0;
      position: relative;
      ul{
        border-bottom: 1px solid transparent;
        position: absolute;
        top: -47px;
        li{
          background: $blanco;
          text-align: center;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            width: 1px;
            background: $verde;
            height: 40%;
            margin: auto;
            top:0;
            bottom: 0;
            right: 0;
          }
          &:first-child{
            border-top-left-radius:15px;
            a{
              border-top-left-radius:14px;
            }
          }
          &:last-child{
            border-top-right-radius:15px;
            &:before{
              background: transparent;
            }
            a{
              border-top-right-radius:14px;
            }
          }
          a{
            font-family: $helveticaBold;
            color: $negro;
            padding: 16px 14px;
            text-transform: uppercase;
            font-size: 11px;
            line-height: 16px;
            min-width: 73px;
            display: block;
            position: relative;
            text-decoration: none;
            &.primero{
              &.active{
                &:before{
                  background: transparent;
                }
              }
            }
            &:before{
              content: "";
              width: 3px;
              background: transparent;
              height: 100%;
              left: -3px;
              top: 0;
              position: absolute;
            }
            &.active{
              color: $verdeMetO;              
              &:before{
                background: $blanco;
              }
            }
          }

        }
      }
      &__content{
        background: $blanco;
        .tab-pane{
          height: 350px;
          width: 100%;
        }
        iframe{
          width: 100%;
          height:100%;
        }
      }
    }
  }
  &__video{
    .modal-body{
      height: 210px;
      iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &-body{
    position: relative;
    padding: 0;
    .close{
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 1;
      z-index: 123;
      img{
        width: 40px;
      }
    }
  }
  &__modelo{
    &__body{
      padding: 0;
      &__content{
        background-color: #EAE9E3;
      }
      .owl-modelo__{
        .item{       
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 545px;             
          padding: 60px 30px 96px;
          background-color: #EAE9E3;
          margin: auto;
        }
        .owl-nav{
          display: none;
        }
        .owl-dots{
          position: absolute;
          bottom: 2%;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          width: 300px;
          button{
            width: 6px; 
            height: 6px;
            margin: 20px;
            background-color: $negro;
            border-radius: 50%;
            position: relative;
          }
          .owl-dot{      
            &.active{
              background-color: $verdeMetO;
              &:before{
                content: "";
                position: absolute;
                width: 28px;
                height: 28px;
                background-color:rgba(114, 196, 144, 0.14);
                border-radius: 50%;
                top: 0;
                bottom: 0;
                left: -11px;                    
                margin: auto;
              }
            }
          }
        }
      }
      &__texto{        
        text-align: center;
        padding: 40px 70px;
        height: 100%;
        position: relative;
        &__in{
          width: 100%;
        }
        .dropdown{
          &-menu{
            width: 100%;
            z-index: 1 !important;
            border-radius: 0;
            padding: 0;
          }
          &-toggle{
            background:transparent;
            width: 100%;            
            border:1px solid transparent;
            border-bottom: 1px solid $verdeMetO;            
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            font-size: 14px;
            line-height: 16px;
            text-align: left;
            color: $gris2;
            font-family: $bariolB;
            text-transform: uppercase;
            position: relative;
            &:focus{
              background: #F8F8F6;
              color: $negro;
              outline: none;
            }
            &:after{
              content: "";
              position: absolute;
              width: 11px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              height: 13px;
              color: transparent;
              background-image: url('../images/iconos/flecha.png');
              top: 0;
              margin: auto;
              right: 10px;
              bottom: 0;
            }
          }
          &-item{
            padding: 11px 1.5rem;
            font-size: 14px;
            font-family: $bariolB;
            text-transform: uppercase;
            &:hover{
              background: $verdeMetO;
              color: $blanco;
            }
          }
        }
        h3{
          color: $verdeMet;
          float: left;
          position: absolute;
          right: 0;
          opacity: 0.1;
          text-transform: uppercase;
          font-family: $helveticaBlack;
          font-size: 70px;
          line-height: 115px;
          -webkit-transform: rotate(-90deg);
        }
        h2{
          text-transform: uppercase;
          font-size: 2.188rem;
          line-height: 2.813rem;
          color: $negro;
          font-family: $bariolB;          
          position: relative;
          margin-bottom: 20px;
          &:before{
            content: "";
            width: 10%;
            height: 1px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -11px;        
            background-color: $verdeMetO;
          }
        }
        .buttom{
          min-width: 100%;
          padding: 18px 0px;
        }
        span{
          color: $negro;
          font-family: $bariol;
          font-size: 1.125rem;
          line-height: 1.875rem;
        }
        table{
          width: 100%;
          color: $blanco;
          margin-bottom: 50px;
          tbody{
            tr{
              td{
                padding: 13px 0px;
                font-family: $bariolB;
                text-align: left;
                font-size: 14px;
                color: $gris2;
                text-transform: uppercase;
                line-height: 15px;
                img{
                  margin-right: 17px;
                }
                &.numero{
                  color: $verdeMet;
                  text-align: right;
                  font-size: 1.25rem;      
                  text-transform: none;            
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__mapa{
    .modal-body{
      iframe{
        width: 100%;
        height: 500px;
      }
    }
  }
  &__texto{
    .modal-dialog {
        max-width: 824px !important;
    }
    .modal-content{
      border-radius: 0;
      .modal-body{
        padding: 50px;
        h2{
          color: $moradoC;
          margin-bottom: 25px;
        }
        p{
          color: $gris;
        }
      }
    }
  }
}

#mouse-scroll {
  position: absolute;
  bottom:7%;
  margin: auto;
  left: 13%;
  -webkit-transform: translateX(-50%);
  z-index: 12;
  padding-bottom: 25px;
  span{
    color: $blanco;
    text-transform: uppercase;
    font-family: $bariolB;
    font-size:0.675rem;
    display: block;
    margin-top: 10px;
    line-height: 1rem;
  }
  .raya{
    position: absolute;
    bottom: 0;
    width: 1px; 
    background: $blanco;
    height: 20px;
    margin: auto;
    left: 0;
    right: 0;
    &:After{
      content: "";      
      position: absolute;
      border:4px;
      border-color: $blanco;
      border-style: solid;
      bottom: -9px;
      left: -4px;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
    }
    &:before{
      content: "";
      position: absolute;
      width: 30px;
      bottom: -16px;
      height: 30px;
      right: -14px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.28);
    }
  }
}


 @media (min-width: 576px){
   .modal-dialog {
       max-width: 524px;
   }
 }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #mouse-scroll{
    padding-bottom: 50px;
    span{
        font-size:0.875rem;
    }
    .raya{
        height: 35px;
    }
  }
  .modal-dialog {
      max-width: 700px;
  }

  .modal{
    &__descrip{
      &__tabs{
        ul{
          top: -56px;
          li{
            a{
              padding: 20px;
              font-size: 13px;
              min-width: 150px;
            }
          }
        }
        &__content{
          .tab-pane{
            height: 500px;
          }
        }
      }
    }
    &__video{
      .modal-body{
        height: 358px;
      }
    }
    &__modelo{
      &__body{
        .owl-modelo__{
          .item{
            width: 65%;
          }
        }
      }
    }
    &__mapa{
      .modal-body{
        iframe{
          height: 577px;          
        }
      }
    }
  }
  .carousel{
    &-texto{
      .direccion{
        img{
          top: 9px;
          width: auto;
        }
      }
      p{
        font-size: 1rem;
        line-height: 1.75rem;
      }
    }
    &-img{
      height: 51%;
      width: 41%;
      &--centrado{
        img{
          margin-top: 0;
          width: auto !important;
        }
      }
      img{
        width: auto;
      }
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .porcentaje{
    height: 55px;
  }
  .gracias{
    .container-fluid{
      padding: 0 !important;
    }
    &__bg{
      display: block;
    }
  }
  .asesorateM{    
    &__bg{
      height: 100vh;
      background-size: cover;
      display: block;
      img{
        width: auto;
      }
      h1{
        font-size: 80px;
        line-height: 105px;
        margin-top: 45px;
        margin-bottom: 20px;
      }
      p{
        font-size: 20px;
        line-height: 28px;
        width: 60%;
      }
    }
    &__formulario{           
      form{
        width: 72%;
        margin: inherit;
        .seleccionar{
          &__bottom{
            max-height: 400px;
            &.open{
              height: 400px;
            }            
          }
        }
        .check{
          input[type=checkbox].css-checkbox + label.css-label{
            font-size: 0.938rem;
          }
        }
      }
    }
  }
  .carousel{
    &-indicators{
      display: block !important;
    }
    &-texto{
      width: 46%;
      left: 7%;
      top:0;
      height: 100%;
      bottom: 0;
      h2{
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 24px;
        margin-bottom: 24px;
      }

      .p-2{
        width: 373px;
      }
      .direccion{
        width: 342px;
      }
    }
    &-item{
      .img{
        height: 90.5vh;
      }
      .fondoTexto{
        h2{
          font-size: 20.625rem;
        }
      }
    }
    &-img{
      height: 100%;
      right: 2rem;
      width: 50%;
      left: auto;
      &--centrado{
        align-items: center;
      }
    }
  }
  .modal{  
    &__video{
      .modal-body{
        height: 534px;
      }
    }
    &__modelo{
      &__body{
        .owl-modelo__{
          .item{
            height: 657px;
          }
        }
      }
    }
    &-body{
      .close{
        right: 0px;
        top: 0px;
        img{
          width: auto;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .gracias{
    .marcoAgua{
      h2{
        font-size: 15rem;
      }
    }
    h1{
      font-size: 3rem;
    }
  }
  .modal-dialog {
      max-width: 1065px;
  }
  .carousel{
    &-texto{
      width: 34%;
      left: 10%;
      top:0;
      height: 100%;
      h2{
        font-size: 3rem;
        line-height:3.59rem;
        margin-top: 26px;
        margin-bottom:26px;
      }
      p{
        font-size: 1.25rem;
      }
      .p-2{
        width: 373px;
      }
      .direccion{
        width: 342px;
      }
    }
    &-item{
      .img{
        height: 90.5vh;
      }
      .fondoTexto{
        h2{
          font-size:14.625rem;
        }
      }
    }
    &-img{
      width: 37%;
      right: 5rem;
    }
  }
  .porcentaje{
    height: 40px;
  }
 
  .asesorateM{
    &__formulario{
      padding: 50px 0px;
      .form{
        .seleccionar{
          &__bottom{
            max-height: 433px;
            &.open{
              height: 433px;
            }
            &__card{
              width: 33.33%;
            }
          }
        }
      }
    }
  }
 }
@media(min-width: 1350px){ 
  
  .modal{
    &__descrip{
      &__tabs{
        &__content{
          .tab-pane{
            height: 480px;
          }
        }
      }
    }
  }
  .gracias{
    h1{
      font-size: 2.188rem;
      line-height: 2.813rem;
    }
    p{
      font-size: 1.125rem;
      line-height: 1.875rem;
      margin-bottom: 42px;
    }
  }
}
@media (min-width: 1600px) { 
  .gracias{
    .marcoAgua{
      h2{
        font-size: 18rem;
      }
    }
    img{
      width: auto;
    }
  }
  .modal-dialog {
      max-width: 1466px;
  }
  .modal{
    &__descrip{
      &__tabs{
        ul{
          li{
            a{
              font-size: 14px;
              min-width: 211px;
            }
          }
        }
        &__content{
          .tab-pane{
            height: 770px;
          }
        }
      }
    }
    &__video{
      .modal-body{
        height: 758px;
      }
    }
    &__modelo{
      &__body{
        .owl-modelo__{
          .item{
            height: 817px;
            width: 74%;
          }
        }
      }
    }
    &__mapa{
      .modal-body{
        iframe{
          height: 800px;
        }
      }
    }
  }
  .carousel{
    &-texto{
      width: 38%;
      .logo{
        width: auto;
      }
      h2{
        font-size: 5rem;
        line-height: 6.563rem;
        margin-top: 34px;
        margin-bottom: 34px;
      }
      p{
        font-size: 1.25rem;
      }
      .p-2{
        width: 373px;
      }
      .direccion{
        width: 342px;
      }
    }
    &-item{
      .img{
        height: 90.5vh;
      }
      .fondoTexto{
        h2{
          font-size: 20.625rem;
        }
      }
    }
    &-img{
      width: 50%;
    }
  }
  .asesorateM{
    &__formulario{
      form{
        padding: 0;
        max-height: none;
        overflow: inherit; 
      }
    }
  }
 }
